@import '../static/fonts/fonts.css';
/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: #e2e8f0;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
button {
  background-color: transparent;
  background-image: none;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  border-style: solid;
}

button,
[role='button'] {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}

/* .main-content {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
} */

.row-list-container section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem;
  flex-wrap: wrap;
}
.heading {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.video-active {
  display: flex;
  background-color: #edf2f7;
}
