.main {
  max-width: 1200px;
  margin: auto;
  margin-top: 3rem;
}
.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 2rem;
  padding-left: 2.5rem;
}

.sectionContent {
  margin: 1rem auto;
}
.main a {
  font-size: 0.875rem;
  color: #3b82f6;
  text-decoration: underline;
}
.coverContainer {
  display: block;
}
.coverContainer img {
  display: block;
  margin: auto;
  max-width: 420px;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.coverOptions {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.coverOptions button, .coverOptions a {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.75rem; 
  transition: all 0.4s;
  text-decoration: none;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.downloadButton {
  background-color: #3b82f6;
}
.downloadButton:hover {
  color: #3b82f6;
  background-color: #fff;
}
.viewButton {
  background-color: #718096;
}
.viewButton:hover {
  color: #718096;
  background-color: #fff;
}
.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
.overview {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.overview ~ p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.overview ~ p a {
  color: #3b82f6;
}
.sectionHeader {
  margin: 2rem 0;
}
.chapterSection {
  margin-bottom: 2rem;
  padding: 2rem;
}
.chaptersContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 350px));
  justify-content: space-evenly;
  gap: 1.5rem;
}
.chaptersContainer > div {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
}
.chaptersContainer img {
  max-width: 350px;
  width: 100%;
  display: block;
}
.chapterCardContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.chaptersContainer h4 {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
.chaptersContainer .coverOptions {
  margin-top: 1rem;
  gap: 0.5rem;
}

.chaptersContainer .coverOptions button {
  width: fit-content;
  box-shadow: none;
  gap: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.linkSection {
  padding: 2rem;
}
.downloadTabsContainer {
  display: flex;
  overflow: hidden;
  font-size: 1rem;
  margin-top: 2rem;
  overflow-x: auto;
  max-width: calc(100vw - 4rem);
}
.downloadTabsContainer button {
  display: block;
  min-width: 160px;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 0 0;
}
.downloadTabsContainer button:focus {
  outline: none;
}

.downloadTabsContainer .selected {
  border-color: #3b82f6;
  color: #3b82f6;
}


.coverLinks, .tabPanel {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .header {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
  .coverContainer img {
    max-width: 100%;
  }
}
/*  Scroll Icon */

.iconScroll, .iconScroll:before {
    position: absolute;
    left: 50%;
}
.iconScroll {
  position: fixed;
  left: auto;
  right: 8px;
}
.iconScroll {
    width: 30px;
    height: 50px;
    margin-left: -20px;
    bottom: 10px;
    margin-top: -35px;
    border: 2px solid rgb(68, 68, 68);
    border-radius: 25px
}
@media (max-width: 1024px) {
    .iconScroll {
        position: relative
    }
}
.iconScroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: rgb(68, 68, 68);
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}
@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}
