/* @import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';  */

/* @import './normalize.css';

@import '../fonts/fonts.css'; */
/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: #e2e8f0;
}

html,
body {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  font-family: Inter, Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'system-ui', '-apple-system',
    'BlinkMacSystemFont', 'Segoe UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
body {
  background-color: white;
  color: var(--theme-colors-gray-9);
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.05rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Metropolis, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-weight: bold;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px white;
}

body::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
div::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px white;
}

div::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
  outline: none;
}
div {
  scrollbar-width: thin;
}

.sidebar {
  height: 100vh;
  top: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  position: sticky;
  overflow-y: auto;
}

.sliderF {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.heading {
  font-family: Metropolis, Georgia, Cambria, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: bold;
}

.vertical {
  flex-direction: column;
}

.active {
  color: #3b82f6;
}

.video-active {
  display: flex;
  background-color: #edf2f7;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

/* a:hover {
  color: #ea364a;
} */

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add read more to any content*/
/* .read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  font-size: 0;
  transition: 0.25s step-start;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'show less';
}

.read-more-trigger {
  cursor: pointer;
} */

.row-list-container section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5rem;
  justify-content: flex-start;
  align-items: flex-start;
}

/* @screen lg {
  .read-more-trigger {
    display: none;
  }
  .read-more-target {
    opacity: 1;
    font-size: inherit;
  }
} */

.embeds {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
}

/* The slider */
.sliderF {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .sliderF {
  background-color: #065fd4;
}

input:focus + .sliderF {
  box-shadow: 0 0 1px #065fd4;
}
.amp-title {
  font-size: 2.5rem;
}
.parsed {
  word-break: break-word;
}
.parsed a {
  display: inline;
  position: relative;
  line-height: 1.5;
  color: inherit;
  background: linear-gradient(180deg, #4299e1 0%, #3b82f6 100%);
  /*background: linear-gradient(to bottom, #ea364a 0%, #ea364a 100%);*/
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  transition: all 0.2s;
  /*box-shadow: white 0px -0.05em inset, #ea364a 0px -0.1em inset;*/
  /*@apply text-blue-500*/
}
.parsed a:hover {
  background-size: 100% 100%;
  color: inherit;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.flex-column {
  flex-direction: column;
}

.nav-link {
  padding: 0.5rem 1rem;
}

.nav-item ul {
  padding-left: 1rem;
  display: none;
  position: relative;
}

.nav-item ul.show {
  display: block;
}

/* EditorJS parsed styles for posts*/
.parsed p,
.parsed h1,
.parsed h2,
.parsed h3,
.parsed h4,
.parsed h5,
.parsed h6 {
  word-break: break-word;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.parsed p {
  font-size: 1rem;
}

.parsed h1 {
  font-size: 1.5rem;
}
.parsed h2 {
  font-size: 1.375rem;
}
.parsed h3 {
  font-size: 1.25rem;
}
.parsed h4 {
  font-size: 1.125rem;
}
.parsed h5 {
  font-size: 1rem;
}
.parsed h6 {
  font-size: 0.875rem;
}
.parsed ul {
  padding-left: 2.5rem;
  list-style-type: disc;
  list-style-position: outside;
}
.parsed figure img {
  margin: auto;
}
.parsed blockquote {
  background-color: #edf2f7;
  border-left: 2px solid #ea364a;
  padding: 1rem 2rem;
}
.ed-embeds,
.ed-raw-html,
.ed-code,
.parsed figure img {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
